extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Lucas Zubeldía

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hello, my name is Lucas, i'm a graphic designer from Buenos Aires. I have been working as a Web and Digital Designer since 2006 for different agencies and clients, Nationally and internationally. I have more than 10 years of experience designing websites, logos and apps. I am an expert in Adobe Photoshop, Illustrator, After effects, Sketch and i can write some HTML & CSS line codes. I have a solid wordpress experience. I am currently learning JavaScript in the Treehouse School, this website is an example how far i come in this beautiful language.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li JavaScript
          li HTML
          li CSS
          li Photoshop
          li Illustrator
          li After Effects
          li Premiere
          li InDesign
          li Sketch
        h6 Contact Info

        //- Add your own contact info
        ul
          li
            a(href='tel:011541130240370' target='_blank') 011 54 1130240370

          li
            a(href="mailto:lzubeldia@gmail.com?subject=Hello Dr Van Nostrand! i like your portfolio, let's work together!" target='_blank') lzubeldia@gmail.com


        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/lucaszubeldia/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/dr-van-nostrand' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/MkUltra64' target='_blank') Twitter
        a.button.expanded(href='http://moncho.tv' target='_blank') Personal Website
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  